@import "../../variables";
@import "../../mixins";

* {
  transform-style: preserve-3d;
}

$border: 0.1em solid $grey-200;

.container {
  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(to top, $blue-100, $blue-300);

  width: 100vw;
  height: 100vh;
}

$aspect-ratio: 9 / 16;

.phone {
  border-radius: 5%;

  box-shadow: 0 0 3em 0.5em rgba(0, 0, 0, 0.25);

  background-color: $white;

  padding: 2em;

  width: 80vw;
  height: 80vw / $aspect-ratio;

  overflow: hidden;

  font-size: 4vw;

  @include on-aspect-ratio("1 / 2") {
    width: 80vh * $aspect-ratio;
    height: 80vh;

    font-size: 4vh * $aspect-ratio;
  };
}

.thanks {
  float: left;

  border-bottom: $border;

  padding-bottom: 1em;

  width: 100%;

  text-align: center;
  color: $grey-700;
  font-family: "Lato";
  font-size: 1em;
  font-weight: 300;
}

.item {
  float: left;

  width: 100%;
}

.item__pic-row {
  position: relative;
  float: left;

  padding-top: 2em;
  padding-bottom: 1em;

  width: 100%;
  height: 15em;
}

.item__pic-container {
  position: relative;
  float: left;

  border-radius: 1em;

  box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.2);

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.item__pic {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 100%;
}

.item__info-row {
  float: left;

  width: 100%;

  color: $grey-700;
  font-family: "Lato";
  font-size: 0.75em;
  font-weight: 300;

  &--space-top {
    @extend .item__info-row;

    padding-top: 1em;
  }

  &--space-bottom {
    @extend .item__info-row;

    border-bottom: $border;

    padding-bottom: 1em;
  }
}

.item__info-left {
  float: left;
}

.item__info-right {
  float: right;
}

.help  {
  float: left;

  margin-top: 4em;

  width: 100%;

  text-align: center;
  color: $grey-500;
  font-family: "Lato";
  font-size: 0.75em;
  font-weight: 300;
}
