@import "../../variables";
@import "../../mixins";

$aspect-ratio: 16 / 9;

.settings {
  float: left;

  background-color: $grey-200;

  width: 100%;

  min-height: 100vh;

  font-family: "Lato";
  font-size: 1rem;
  font-weight: 300;
}

.settings__title {
  float: left;

  padding: 0.5em;

  width: 100%;

  text-align: center;
  color: $grey-900;
  font-family: "Lato";
  font-size: 3em;
  font-weight: 300;
}

.settings__icon {
  margin: 0.25em;
}

.settings__section {
  float: left;

  padding: 1em;

  @include on-xs() {
    width: 100%;
  };

  @include on-l() {
    width: 50%;
  };
}

.settings__section-title {
  width: 100%;

  font-size: 2em;
}

.settings__sub-section {
  float: left;

  padding: 1em;
  padding-bottom: 0;

  width: 100%;
}

.settings__sub-section-title {
  border-bottom: 0.05em solid $grey-400;

  padding: 0.2em;

  width: 100%;

  color: $grey-800;
  font-size: 1.25em;
}

.settings__input-container {
  float: left;

  padding: 0.5em;

  width: 100%;
}

.input {
  float: left;

  padding-top: 0.5em;

  width: 100%;
}

.input__title {
  float: left;

  padding-right: 1em;

  width: 50%;

  color: $grey-800;
  font-size: 1.1em;
}

.input__field {
  float: left;

  padding-left: 1em;

  width: 50%;
}

$switch-height: 1.1em;
$switch-width: $switch-height * 2;
$switch-border: 0.09em;
$switch-label: $switch-height - $switch-border * 2;

.switch {
  position: relative;

  width: $switch-width;
  height: $switch-height;
}

.switch__input {
  display: none;

  &:checked ~ .switch__label {
    left: $switch-width - $switch-label;
  }

  &:checked ~ .switch__fill {
    background-color: $green-400;
  }
}

.switch__label {
  position: absolute;
  top: $switch-border;
  left: 0;

  transition: all 250ms ease-in-out;

  z-index: 2;

  border-radius: 50%;

  background-color: $grey-800;

  width: $switch-label;
  height: $switch-label;
}

.switch__fill {
  transition: all 250ms ease-in-out;

  z-index: 1;

  border: $switch-border solid $grey-800;
  border-radius: 3em;
  box-shadow: inset 0 0 0.2em 0.08em rgba(0, 0, 0, 0.2);

  background-color: $grey-400;

  width: 100%;
  height: 100%;
}

.text-input {
  outline: 0;

  border: 0.1em solid $grey-800;
  border-radius: 3em;

  padding: 0.2em;

  width: 100%;

  text-align: center;
  color: $grey-800;
  font-family: "Lato";
  font-size: 0.9em;

  &:disabled {
    background-color: $grey-300;
  }
}

.delete {
  outline: none;
  border: 0;
  border-radius: 3em;

  background-color: $red-500;

  padding: 0.5em;

  width: 6em;

  color: $white;
}
