@import "../../variables";
@import "../../mixins";

@keyframes enter {
  0% {
    transform: translateZ(-200rem);
  }

  100% {
    transform: translateZ(0);
  }
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);

    border-width: 0.25em;
  }

  100% {
    transform: translate(-50%, -50%) scale(2);

    border-width: 0;
  }
}

body {
  background: linear-gradient(to bottom, $grey-900, $grey-700);
  width: 100vw;
  height: 100vh;
}

.container {
  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);

  width: 100%;

  text-align: center;
}

$aspect-ratio: 9 / 16;

.phone {
  display: inline-block;

  margin: 1.8em;

  border-radius: 5%;
  box-shadow: 0 0 4rem 0.5rem rgba(0, 0, 0, 0.2);

  background-color: $white;

  width: 30vw;
  height: 30vw / $aspect-ratio;

  overflow: hidden;

  font-family: "Lato";
  font-size: 1.5vw;
  font-weight: 300;

  @include on-aspect-ratio("1 / 1") {
    width: 75vh * $aspect-ratio;
    height: 75vh;

    font-size: 75vh / 20 * $aspect-ratio;
  };

  &:nth-child(1) {
    .message {
      &--right {
        border-color: $red-300;
        background-color: $red-300;
      }

      &--left {
        border-color: $orange-300;
        background-color: $orange-300;
      }
    }
  }

  &:nth-child(2) {
    .message {
      &--right {
        border-color: $orange-300;
        background-color: $orange-300;
      }

      &--left {
        border-color: $red-300;
        background-color: $red-300;
      }
    }
  }
}

$text-area-height: 4em;
$header-height: 4em;

.header {
  position: absolute;
  top: 0;
  left: 0;

  box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.2);

  width: 100%;
  height: 4em;

  &--1 {
    @extend .header;
    background: linear-gradient(to right, $red-200, $red-400);
  }

  &--2 {
    @extend .header;
    background: linear-gradient(to right, $orange-200, $orange-400);
  }
}

.header__img-container {
  position: relative;
  float: left;

  margin: 0.5em;

  border: 0.1em solid $white;
  border-radius: 50%;

  width: 3em;
  height: 3em;

  overflow: hidden;
}

.header__img {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  height: 100%;
}

.header__person {
  float: left;

  padding: 0.35em;
  color: $white;

  font-size: 2em;
}

.messages {
  position: absolute;
  bottom: $text-area-height;
  left: 0;

  width: 100%;

  perspective: 100vw;
}

.message-container {
  float: left;

  width: 100%;
}

.message {
  position: relative;

  animation-name: enter;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;

  margin: 1.2em;

  border-radius: 3em;

  padding: 0.75em;

  color: $white;
  font-weight: 400;

  &--right {
    @extend .message;

    float: right;

    background-color: $purple-300;
  }

  &--left {
    @extend .message;

    float: left;

    background-color: $pink-300;
  }
}

.message__time {
  position: absolute;
  bottom: -1.33em;
  left: 0.875em;

  width: 200%;

  text-align: left;
  color: $grey-800;
  font-size: 0.5em;
}

.message__pulse {
  position: absolute;
  top: 50%;
  left: 50%;

  animation-name: pulse;
  animation-duration: 250ms;
  animation-delay: 250ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;

  opacity: 0;

  border-style: solid;
  border-radius: 3em;
  border-color: inherit;

  width: 100%;
  height: 100%;
}

.text-area {
  position: absolute;
  bottom: 0;
  left: 0;

  box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.2);

  background: linear-gradient(to right, $blue-200, $blue-400);

  width: 100%;
  height: $text-area-height;

  font-size: 0.75em;
}

$input-text-size: 1em;
$input-padding: 0.5em;
$input-border: 0.1em;
$input-full: $input-text-size + $input-padding * 2 + $input-border * 2;
$input-margin: ($text-area-height - $input-full) / 2;

.text-area__input {
  float: left;

  margin: $input-margin;

  outline: 0;
  border: $input-border solid $white;
  border-radius: 3em;

  padding: $input-padding;

  width: 18em;

  font-size: $input-text-size;
}

.text-area__send {
  float: right;

  margin: $input-margin;

  border: $input-border solid $white;
  border-radius: 50%;

  background-color: rgba(0, 0, 0, 0);

  padding: $input-padding;

  color: $white;
  font-size: $input-text-size;
}
