@mixin col($part, $total) {
  width: percentage($part / $total);
}

@mixin on-xs() {
  @content;
}

@mixin on-s() {
  @media screen and (min-width: 20rem) {
    @content;
  }
}

@mixin on-m() {
  @media screen and (min-width: 30rem) {
    @content;
  }
}

@mixin on-l() {
  @media screen and (min-width: 45rem) {
    @content;
  }
}

@mixin on-xl() {
  @media screen and (min-width: 60rem) {
    @content;
  }
}

@mixin on-xxl() {
  @media screen and (min-width: 80rem) {
    @content;
  }
}

@mixin on-xs-h() {
  @content;
}

@mixin on-s-h() {
  @media screen and (min-height: 20rem) {
    @content;
  }
}

@mixin on-m-h() {
  @media screen and (min-height: 30rem) {
    @content;
  }
}

@mixin on-l-h() {
  @media screen and (min-height: 45rem) {
    @content;
  }
}

@mixin on-xl-h() {
  @media screen and (min-height: 60rem) {
    @content;
  }
}

@mixin on-xxl-h() {
  @media screen and (min-height: 80rem) {
    @content;
  }
}

@mixin on-landscape() {
  @media screen and (orientation: landscape) {
    @content;
  }
}

@mixin on-portrait() {
  @media screen and (orientation: portrait) {
    @content;
  }
}

@mixin on-aspect-ratio($ratio) {
  @media screen and (min-aspect-ratio: $ratio) {
    @content;
  }
}
