.u-container {
  position: relative;
  top: 0;
  left: 50%;

  clear: both;

  transform: translateX(-50%);

  @include on-xs() {
    width: 100%;
  };

  @include on-s() {
    width: 19rem;
  };

  @include on-m() {
    width: 25rem;
  };

  @include on-l() {
    width: 40rem;
  };

  @include on-xl() {
    width: 50rem;
  };

  @include on-xxl() {
    width: 60rem;
  };
}

.u-center {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.u-center-x {
  position: absolute;
  left: 50%;

  transform: translateX(-50%);
}

.u-center-y {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
}

.u-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.u-hide-overflow {
  overflow: hidden;
}

.u-base {
  position: relative;

  width: 100%;
  height: 100%;
}

.u-fill {
  width: 100%;
  height: 100%;
}

.u-fill-y {
  height: 100%;
}

.u-fill-x {
  width: 100%;
}

.u-clear {
  clear: both;
}

.u-preserve-3d {
  transform-style: preserve-3d;
}
