<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DailyUI-04</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bundle.css"/>
    <link rel="stylesheet" href="/css/00/04/dailyui04.css"/>

    <script src="/js/bundle.js" async></script>
  </head>

  <body>
    <div class="background">
      <div class="square u-center">
        <div class="u-base">
          <div class="main-body u-center">
            <div class="u-base">
              <div class="main-body__top-curve">
              </div>
              <div class="main-body__left-curve">
              </div>
              <div class="main-body__right-curve">
              </div>
              <div class="dark-plate">
                <div class="u-base">
                  <div class="dark-plate__top-curve">
                  </div>
                  <div class="dark-plate__left-curve">
                  </div>
                  <div class="dark-plate__right-curve">
                  </div>
                  <div class="dark-plate__bottom-curve">
                  </div>
                  <div class="dark-plate__arrow">
                  </div>
                  <div class="screen">
                  </div>
                  <div class="top-button-bar js-top-button-container">
                  </div>
                </div>
              </div>
              <div class="light-plate">
                <div class="light-plate__arrow">
                </div>
                <div class="arrow-keys">
                  <div class="u-base">
                    <div class="arrow-keys__base u-center">
                      <div class="u-base">
                        <div class="arrow-keys__base-thing--right">
                        </div>
                        <div class="arrow-keys__base-thing--left">
                        </div>
                      </div>
                    </div>
                    <div class="arrow-keys__button--left">
                    </div>
                    <div class="arrow-keys__button--up">
                    </div>
                    <div class="arrow-keys__button--right">
                    </div>
                    <div class="arrow-keys__button--down">
                    </div>
                  </div>
                </div>
                <div class="first-buttons-bar">
                  <div class="u-base js-first-button-container">
                  </div>
                </div>
                <div class="rest-buttons-bar">
                  <div class="u-base js-rest-button-container">
                  </div>
                </div>
                <div class="number-buttons-bar">
                  <div class="u-base js-number-button-container">
                  </div>
                </div>
                <div class="on-button-container">
                  <div class="u-base">
                    <div class="on-button">
                      <span class="button-label--big u-center">
                        ON
                      </span>
                    </div>
                    <div class="on-button-extras">
                      <span class="button-label button-second">
                        OFF
                      </span>
                      <div class="u-clear">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="enter-button-container">
                  <div class="u-base">
                    <div class="enter-button">
                      <span class="button-label--big u-center">
                        ENTER
                      </span>
                    </div>
                    <div class="enter-button-extras">
                      <span class="button-label button-second">
                        ENRTY
                      </span>
                      <span class="button-label button-alpha">
                        SOLVE
                      </span>
                      <div class="u-clear">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script id="top-button-template" type="text/html">
      <div class="top-button-container">
        <div class="u-base">
          <div class="top-button light-grey">
            <span class="button-label u-center">
              {{text}}
            </span>
          </div>
          <div class="button-extras">
            <span class="button-label button-second">
              {{second}}
            </span>
            <span class="button-label button-alpha">
              {{alpha}}
            </span>
            <div class="u-clear">
            </div>
          </div>
        </div>
      </div>
    </script>

    <script id="first-button-template" type="text/html">
      <div class="first-button-container">
        <div class="u-base">
          <div class="first-button" style="background-color: {{color}}; color: {{textColor}}">
            <span class="button-label u-center">
              {{text}}
            </span>
          </div>
          <div class="first-button-extras">
            <span class="button-label button-second">
              {{second}}
            </span>
            <span class="button-label button-alpha">
              {{alpha}}
            </span>
            <div class="u-clear">
            </div>
          </div>
        </div>
      </div>
    </script>

    <script id="rest-button-template" type="text/html">
      <div class="rest-button-container">
        <div class="u-base">
          <div class="rest-button" style="background-color: {{color}}; color: {{textColor}}">
            <span class="button-label u-center">
              {{text}}
            </span>
          </div>
          <div class="first-button-extras">
            <span class="button-label button-second">
              {{second}}
            </span>
            <span class="button-label button-alpha">
              {{alpha}}
            </span>
            <div class="u-clear">
            </div>
          </div>
        </div>
      </div>
    </script>

    <script id="number-button-template" type="text/html">
      <div class="number-button-container">
        <div class="u-base">
          <div class="number-button">
            <span class="button-label--big u-center">
              {{text}}
            </span>
          </div>
          <div class="number-button-extras">
            <span class="button-label button-second">
              {{second}}
            </span>
            <span class="button-label button-alpha">
              {{alpha}}
            </span>
            <div class="u-clear">
            </div>
          </div>
        </div>
      </div>
    </script>

    <script>
      window.onload = function() {
        Eightleg.DailyUI04.setUp();
      };
    </script>
  </body>
</html>