<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DailyUI-07</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bundle.css"/>
    <link rel="stylesheet" href="/css/00/07/dailyui07.css"/>

    <script src="/js/bundle.js" async></script>
  </head>

  <body>
    <div class="settings">
      <div class="settings__title">
        Settings<i class="fas fa-cog settings__icon"></i>
      </div>
      <div class="settings__section">
        <div class="settings__section-title">
          Account
        </div>
        <div class="settings__sub-section">
          <div class="settings__sub-section-title">
            Profile
          </div>
          <div class="settings__input-container">
            <div class="input">
              <div class="input__title">
                Username
              </div>
              <div class="input__field">
                <input class="text-input" type="text" disabled placeholder="@example"/>
              </div>
            </div>
            <div class="input">
              <div class="input__title">
                Email
              </div>
              <div class="input__field">
                <input class="text-input" type="text"/>
              </div>
            </div>
            <div class="input">
              <div class="input__title">
                Phone
              </div>
              <div class="input__field">
                <input class="text-input" type="text"/>
              </div>
            </div>
          </div>
        </div>
        <div class="settings__sub-section">
          <div class="settings__sub-section-title">
            Privacy
          </div>
          <div class="settings__input-container">
            <div class="input">
              <div class="input__title">
                Private
              </div>
              <div class="input__field">
                <div class="switch">
                  <input id="private" class="switch__input" type="checkbox"/>
                  <label class="switch__label" for="private"></label>
                  <div class="switch__fill u-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="input">
              <div class="input__title">
                Only allow messages from friends
              </div>
              <div class="input__field">
                <div class="switch">
                  <input id="messages" class="switch__input" type="checkbox"/>
                  <label class="switch__label" for="messages"></label>
                  <div class="switch__fill u-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="settings__sub-section">
          <div class="settings__sub-section-title">
            Delete Account
          </div>
          <div class="settings__input-container">
            <div class="input">
              <div class="input__title">
                Permanently delete account?
              </div>
              <div class="input__field">
                <button class="delete">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="settings__section js-notification-container">
        <div class="settings__section-title">
          Notifications
        </div>
      </div>
    </div>

    <script id="notification-section-template" type="text/html">
      <div class="settings__sub-section">
        <div class="settings__sub-section-title">
          {{title}}
        </div>
        <div class="settings__input-container">
        {{#subs}}
          {{>notification-template}}
        {{/subs}}
        </div>
      </div>
    </script>

    <script id="notification-template" type="text/html">
      <div class="input">
        <div class="input__title">
          {{title}}
        </div>
        <div class="input__field">
          <div class="switch">
            <input id="{{prefix}}-{{suffix}}" class="switch__input" type="checkbox"/>
            <label class="switch__label" for="{{prefix}}-{{suffix}}"></label>
            <div class="switch__fill u-center">
            </div>
          </div>
        </div>
      </div>
    </script>

    <script>
      window.onload = function() {
        Eightleg.DailyUI07.setUp();
      };
    </script>
  </body>
</html>