<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DailyUI-08</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bundle.css"/>
    <link rel="stylesheet" href="/css/00/08/dailyui08.css"/>

    <script src="/js/bundle.js" async></script>
  </head>

  <body>
    <div class="scene-container js-scene-container">
    </div>

    <script id="scene-template" type="text/html">
      <div class="scene">
        <div class="u-base">
          {{#graves}}
            {{>grave-template}}
          {{/graves}}
          <div class="scene__darkness">
          </div>
          <div class="scene__light">
          </div>
          <div class="scene__ground">
          </div>
          <div class="scene__hill">
          </div>
          {{>tree-template}}
          {{>pumpkin-template}}
        </div>
      </div>
    </script>

    <script id="grave-template" type="text/html">
      <div class="grave">
        <div class="u-base">
          <div class="grave__stone">
            <div class="u-base">
              <div class="grave__stone-top">
              </div>
              <div class="grave__stone-bottom">
              </div>
              <div class="grave__number u-center">
                {{content}}
              </div>
            </div>
          </div>
          <div class="grave__stone--back">
            <div class="u-base">
              <div class="grave__stone-top">
              </div>
              <div class="grave__stone-bottom">
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script id="pumpkin-template" type="text/html">
      <div class="pumpkin">
        <div class="u-base">
          <div class="pumpkin__part--1">
          </div>
          <div class="pumpkin__part--2">
          </div>
          <div class="pumpkin__part--3">
          </div>
          <div class="pumpkin__part--4">
          </div>
          <div class="pumpkin__part--5">
          </div>
          <div class="pumpkin__part--6">
          </div>
          <div class="pumpkin__part--7">
          </div>
          <div class="pumpkin__part--8">
          </div>
          <div class="pumpkin__stem">
          </div>
          <div class="pumpkin__face">
            <div class="u-base">
              <div class="pumpkin__eye--1">
                <div class="u-base">
                  <div class="pumpkin__pupil">
                  </div>
                </div>
              </div>
              <div class="pumpkin__eye--2">
                <div class="u-base">
                  <div class="pumpkin__pupil">
                  </div>
                </div>
              </div>
              <div class="pumpkin__mouth">
                <div class="u-base">
                  <div class="pumpkin__mouth-inner">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pumpkin__stump">
            <div class="u-base">
              <div class="pumpkin__stump-top">
              </div>
              <div class="pumpkin__stump-middle">
              </div>
              <div class="pumpkin__stump-bottom">
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script id="tree-template" type="text/html">
      <div class="tree">
        <div class="u-base">
          <div class="tree__trunk">
            <div class="tree__hole">
            </div>
            <div class="tree__branch--1">
              <div class="u-base">
                <div class="tree__branch--3">
                  <div class="u-base">
                    <div class="tree__cap">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tree__branch--2">
              <div class="u-base">
                <div class="tree__branch--4">
                  <div class="u-base">
                    <div class="tree__cap">
                    </div>
                  </div>
                </div>
                <div class="tree__branch--5">
                  <div class="u-base">
                    <div class="tree__cap">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tree__eyes">
            {{>eyes-template}}
          </div>
        </div>
      </div>
    </script>

    <script id="eyes-template" type="text/html">
      <div class="eyes">
        <div class="eyes__eye--1">
          <div class="u-base">
            <div class="eyes__pupil">
            </div>
          </div>
        </div>
        <div class="eyes__eye--2">
          <div class="u-base">
            <div class="eyes__pupil">
            </div>
          </div>
        </div>
      </div>
    </script>

    <script>
      window.onload = function() {
        Eightleg.DailyUI08.setUp();
      };
    </script>
  </body>
</html>