<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DailyUI-03</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bundle.css"/>
    <link rel="stylesheet" href="/css/00/03/dailyui03.css"/>

    <script src="/js/bundle.js" async></script>
  </head>

  <body>
    <div class="intro">
      <img class="intro__title" src="/img/03/magic.svg"/>
      <h1 class="intro__header">
          Everything you need to amaze audiences, big and small
      </h1>
      <div class="intro__button-row">
        <button class="intro__button">
          Check out the full selection
        </button>
      </div>
    </div>
    <div class="card-section">
      <div class="card-section__cards u-center js-card-container">
      </div>
    </div>

    <script id="card-template" type="text/html">
      <div class="card">
        <div class="u-fill u-center u-preserve-3d">
          <div class="u-base u-preserve-3d">
            <div class="card-back">
            </div>
            <div class="card-front">
              <div class="card-front__container">
                {{#items}}
                <div class="card-front__inner">
                  <div class="card-front__text">
                    {{text}}
                  </div>
                  <i class="{{icon}} card-front__icon"></i>
                </div>
                {{/items}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script async>
      window.onload = function() {
        Eightleg.DailyUI03.setUp();
      };
    </script>
  </body>
</html>