<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DailyUI-02</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bundle.css"/>
    <link rel="stylesheet" href="/css/00/02/dailyui02.css"/>

    <script src="/js/bundle.js" async></script>
  </head>

  <body>
    <div class="background">
      <div class="table js-container">
      </div>
    </div>

    <script id="phone-template" type="text/html">
      <div class="phone">
        <div class="phone__nav">
          <img class="u-fill-y u-center" src="/img/02/magic.svg"/>
        </div>
        <div class="phone__background">
        </div>
        <div class="phone__main">
          <h1 class="phone__title">
            Pick a card, </br>any card
          </h1>
          <div class="input--full">
            <label for="name" class="input__label">
              Name:
            </label>
            <input id="name" type="text" class="input__field" placeholder="First Last"/>
          </div>
          <div class="input--full">
            <label for="card-number" class="input__label">
              Card Number:
            </label>
            <input id="card-number" type="text" class="input__field" placeholder="0123 4567 8901 2345"/>
          </div>
          <div class="input--half">
            <label for="ccv" class="input__label">
              CCV:
            </label>
            <input id="ccv" type="text" class="input__field" placeholder="012"/>
          </div>
          <div class="input--half">
            <label for="expires" class="input__label">
              Expires:
            </label>
            <input id="expires" type="text" class="input__field" placeholder="MM-YY"/>
          </div>
          <button class="phone__submit">
            Confirm
          </button>
        </div>
        <div class="phone__credit-card-container u-center js-credit-container">
          <div class="u-base">
            {{#colors}}
              {{>credit-card-template}}
            {{/colors}}
          </div>
        </div>
      </div>
    </script>

    <script id="credit-card-template" type="text/html">
      <div class="credit-card--{{color}} js-credit-card">
        <div class="u-base">
          <div class="credit-card__chip">
          </div>
          <div class="credit-card__numbers">
            0123 4567 8901 2345
          </div>
        </div>
      </div>
    </script>

    <script async>
      window.onload = function() {
        Eightleg.DailyUI02.setUp();
        Eightleg.$('.js-credit-container').each(function() {
          var cards = Eightleg.$(this).find('.js-credit-card');
          Eightleg.DailyUI02.creditCardSetUp(cards);
        });
      };
    </script>
  </body>
</html>