<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DailyUI-06</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bundle.css"/>
    <link rel="stylesheet" href="/css/00/06/dailyui06.css"/>

    <script src="/js/bundle.js" async></script>
  </head>

  <body>
    <div class="phone u-center">
        <div class="background u-center">
          <div class="u-base">
            <div class="background__filter u-center"></div>
            <img class="background__image u-center" src="/img/06/theatre.jpg"/>
          </div>
        </div>
      <div class="profile">
          <div class="profile__pic-section">
            <img class="profile__pic u-center-x" src="/img/06/shakespeare.jpg"/>
          </div>
          <div class="profile__username">
            @willshake
          </div>
          <div class="profile__info">
            <div class="profile__audience">
              <div class="profile__number">102K</div>
              <div class="profile__label"><i class="fas fa-users"></i></div>
            </div>
            <div class="profile__claps">
              <div class="profile__number">3.2M</div>
              <div class="profile__label"><i class="fas fa-hands"></i></div>
            </div>
          </div>
      </div>
      <div class="profile__work-list js-work-container">
      </div>
    </div>

    <script id="work-template" type="text/html">
      <div class="work--{{color}}">
        <div class="u-fill u-center">
          <div class="u-base">
            <div class="work__title">{{title}}</div>
            <i class="fas fa-{{icon}} work__icon u-center"></i>
          </div>
        </div>
      </div>
    </script>

    <script>
    window.onload = function() {
      Eightleg.DailyUI06.setUp();
    };
    </script>
  </body>
</html>