<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DailyUI-09</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bundle.css"/>
    <link rel="stylesheet" href="/css/00/09/dailyui09.css"/>

    <script src="/js/bundle.js" async></script>
  </head>

<body>
  <div class="background">
    <div class="u-base">
      <div class="drawer">
        <div class="drawer__title">
          Songs
        </div>
        <div class="drawer__songs js-song-container">
        </div>
        </div>
        <div class="bar">
          <div class="u-base">
            <div class="button--menu">
              <i class="fas fa-bars u-center icon--menu"></i>
            </div>
          </div>
          <div class="bar__buttons">
            <div class="button--bar">
              <i class="fas fa-step-backward u-center icon"></i>
              <img class="button__img" src="/img/09/last.jpeg" />
              <div class="button__tint">
              </div>
            </div>
            <div class="button--bar">
              <i class="fas fa-play u-center icon"></i>
              <img class="button__img" src="/img/09/cover.jpeg" />
              <div class="button__tint">
              </div>
            </div>
            <div class="button--bar">
              <i class="fas fa-step-forward u-center icon"></i>
              <img class="button__img" src="/img/09/next.jpeg" />
              <div class="button__tint">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="floating-container">
        <div class="hologram-container">
          <div class="u-fill u-center">
            <div class="u-base">
              <div class="hologram">
                <div class="u-base">
                  <div class="hologram__side--front">
                    <div class="u-base">
                      <div class="hologram__tint">
                      </div>
                      <img class="hologram__img" src="/img/09/cover.jpeg" />
                    </div>
                  </div>
                  <div class="hologram__side--back">
                    <div class="u-base">
                      <div class="hologram__tint">
                      </div>
                      <img class="hologram__img" src="/img/09/cover.jpeg" />
                    </div>
                  </div>
                  <div class="hologram__side--left">
                    <div class="u-base">
                      <div class="hologram__tint">
                      </div>
                      <img class="hologram__img" src="/img/09/cover.jpeg" />
                    </div>
                  </div>
                  <div class="hologram__side--right">
                    <div class="u-base">
                      <div class="hologram__tint">
                      </div>
                      <img class="hologram__img" src="/img/09/cover.jpeg" />
                    </div>
                  </div>
                  <div class="hologram__side--top">
                    <div class="u-base">
                      <div class="hologram__tint">
                      </div>
                      <img class="hologram__img" src="/img/09/cover.jpeg" />
                    </div>
                  </div>
                  <div class="hologram__side--bottom">
                    <div class="u-base">
                      <div class="hologram__tint">
                      </div>
                      <img class="hologram__img" src="/img/09/cover.jpeg" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="current-info">
          <div class="current-info__title">
            Starboy
          </div>
          <div class="current-info__artist">
            The Weeknd
          </div>
          <div class="u-clear">
          </div>
        </div>
      </div>
    </div>
  </div>

  <script id="song-template" type="text/html">
    {{#selected}}
    <div class="song--selected">
    {{/selected}}
    {{^selected}}
    <div class="song">
    {{/selected}}
      <div class="button">
        <img class="button__img" src="{{cover}}" />
        <div class="button__tint">
        </div>
      </div>
      <div class="song__info">
        <div class="song__title">
          {{title}}
        </div>
        <div class="song__artist">
          {{artist}}
        </div>
      </div>
    </div>
  </script>

  <script>
    window.onload = function() {
      Eightleg.DailyUI09.setUp();
    };
  </script>
</body>

</html>