@import "../../variables";

$height: 10em;

//matches value in js
$animation-length: 1s;

.credit-card {
  position: absolute;
  top: 70%;
  left: 50%;

  transform: rotate(-90deg);

  transition: all $animation-length ease-in, z-index 1ms;

  opacity: 0;

  border-radius: 10%;

  box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.1);

  width: 1.58 * $height;
  height: $height;

  transform-origin: left center;
  backface-visibility: hidden;

  &--red {
    @extend .credit-card;

    z-index: 2;
    background: linear-gradient(to right, $red-300, $red-700);
  }

  &--blue {
    @extend .credit-card;

    z-index: 3;

    background: linear-gradient(to right, $blue-300, $blue-700);
  }

  &--green {
    @extend .credit-card;

    z-index: 1;
    background: linear-gradient(to right, $green-300, $green-700);
  }

  &--purple {
    @extend .credit-card;

    z-index: 0;
    background: linear-gradient(to right, $purple-300, $purple-700);
  }
}

.visible {
  opacity: 1;
}

.shuffled {
  left: -300%;
}

.spread--1 {
  transform: rotate(-45deg);
}

.spread--2 {
  transform: rotate(-75deg);
}

.spread--3 {
  transform: rotate(-105deg);
}

.spread--4 {
  transform: rotate(-135deg);
}

.credit-card__numbers {
  position: absolute;
  top: 60%;
  left: 10%;

  color: $white;
  font-family: "Lato";
  font-size: 1em;
}

.credit-card__chip {
  position: absolute;
  top: 30%;
  left: 10%;

  background-color: $amber-400;

  width: (10 * 1.58) + %;
  height: 10%;
}
