@import "../../variables";
@import "../../mixins";
@import "./credit-card";

.background {
  position: relative;
  float: left;

  background: radial-gradient($blue-600, $blue-800);

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

.table {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) rotateZ(15deg);

  width: 120%;

  text-align: center;
}

$aspect-ratio: 2 / 1;
$width: 14em;

.phone {
  display: inline-block;
  position: relative;

  margin: 1em;

  border: 0.3em solid $grey-900;
  border-radius: 1em;

  box-shadow: 1em 1em 1em 0.1em rgba(0, 0, 0, 0.2);

  background-color: $white;

  width: $width;
  height: $width * $aspect-ratio;

  overflow: hidden;

  @include on-xs() {
    font-size: 0.6rem;
  };

  @include on-s() {
    font-size: 0.8rem;
  };

  @include on-m() {
    font-size: 1rem;
  };

  @include on-l() {
    font-size: 1.15rem;
  };
}

.phone__nav {
  position: relative;
  float: left;

  z-index: 12;

  box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.2);

  background-color: $blue-400;

  width: 100%;
  height: 7%;
}

.phone__background {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 10;

  background-color: rgba(0, 0, 0, 0.25);

  width: 100%;
  height: 100%;
}

.phone__main {
  position: relative;
  float: left;

  z-index: 11;

  margin-top: 3em;

  padding-right: 0.5em;
  padding-left: 0.5em;

  width: 100%;
}

.phone__title {
  padding: 0.2em;

  width: 100%;

  text-align: center;
  text-shadow: 0 0 1em rgba(0, 0, 0, 0.8);
  color: $white;
  font-family: "Lato";
  font-size: 1.75em;
  font-weight: 300;
}

.input {
  float: left;
  margin-top: 0.4em;

  &--full {
    @extend .input;

    margin-right: 33 / 2 + %;
    margin-left: 33 / 2 + %;

    width: 66%;
  }

  &--half {
    @extend .input;

    width: 30%;

    &:nth-of-type(odd) {
      margin-left: 33 / 2 + %;
    }

    &:nth-of-type(even) {
      margin-left: 6%;
    }
  }
}

.input__field {
  margin-top: 0.25em;
  border: 0.1em solid $white;
  border-radius: 0.25em;

  box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.2em);

  padding: 0.5em;

  width: 100%;

  color: $grey-700;
  font-size: 0.6em;

  &::placeholder {
    text-align: center;
    color: $grey-400;
  }
}

.input__label {
  text-shadow: 0 0 2em rgba(0, 0, 0, 0.8);
  color: $white;
  font-family: "Lato";
  font-size: 0.6em;
}

.phone__submit {
  float: left;

  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 25%;

  outline: none;
  border: 0;
  border-radius: 3em;
  box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.2em);

  background: linear-gradient(to right, $green-400, $green-700);

  padding: 0.25em;

  width: 50%;

  color: $white;
  font-family: "Lato";
  font-size: 0.75em;
  font-weight: 400;
}

.phone__credit-card-container {
  position: relative;

  z-index: 0;

  width: 100%;
  height: 50%;

  filter: blur(0.2em);
}
