@import "../../mixins";

.pop-up {
  position: absolute;
  top: 0;
  left: 0;

  transition: all 1s ease-in;

  background-color: rgba(0, 0, 0, 0.4);

  width: 100%;
  height: 100%;

  &--closed {
    @extend .pop-up;

    visibility: hidden;
    opacity: 0;

    .pop-up__pane {
      transform:  translate(-50%, -50%) rotateY(90deg);
    }
  }

  &--open {
    @extend .pop-up;

    visibility: visible;
    opacity: 1;

    .pop-up__pane {
      transform: translate(-50%, -50%) rotateY(0deg);
    }
  }
}

$window-ratio: 1.61803398875;
$window-width: 40em;

.pop-up__pane {
  position: absolute;
  top: 50%;
  left: 50%;

  transition: all 1s ease-in;

  border-radius: 0.1em;

  box-shadow: 0 0 5em 1em rgba(0, 0, 0, 0.75);

  background-color: $grey-100;

  width: $window-width;
  height: $window-width / $window-ratio;

  @include on-xs() {
    font-size: 0.4rem;
  };

  @include on-m() {
    font-size: 0.5rem;
  };

  @include on-l() {
    font-size: 0.75rem;
  };

  @include on-xl() {
    font-size: 1rem;
  };

  overflow: hidden;
}

.pop-up__background {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 1;

  width: 100%;

  filter: blur(2px);
}

.pop-up__content {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 2;

  background-color: rgba(0, 0, 0, 0.3);

  padding: 2em;

  width: 100%;
  height: 100%;
}

.pop-up__title {
  float: left;

  margin-top: 0.5em;

  width: 100%;

  text-align: center;
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 1);
  color: $white;
  font-family: "Lato";
  font-size: 4em;
  font-weight: 300;
}

.pop-up__message {
  float: left;

  margin-top: 1.2em;

  width: 100%;

  text-align: center;
  text-shadow: 0 0 0.35em rgba(0, 0, 0, 1);
  color: $white;
  font-family: "Lato";
  font-size: 1.5em;
  font-weight: 300;
}

.pop-up__input-row {
  float: left;

  margin-top: 3em;

  padding-right: 3em;
  padding-left: 3em;

  width: 100%;
}

.pop-up__input-container {
  position: relative;
  float: left;

  outline: none;

  border-radius: 3em;

  width: 50%;
}

$input-font-size: 1.3em;
$input-border: 0.1em solid $white;
$input-padding: 0.75em;
$input-box-shadow: 0 0 2em 0.25em rgba(0, 0, 0, 0.25);
$input-background: rgba(255, 255, 255, 0.2);

.pop-up__input {
  outline: none;
  border: $input-border;
  border-radius: 3em;

  box-shadow: $input-box-shadow;

  background-color: $input-background;

  padding: $input-padding;

  width: 100%;

  text-align: center;
  text-shadow: 0 0 0.25em rgba(0, 0, 0, 1);
  color: $white;
  font-family: "Lato";
  font-size: $input-font-size;
  font-weight: 300;
}

.pop-up__icon {
  position: absolute;
  top: 1.1em;
  left: 1em;

  text-align: center;
  text-shadow: 0 0 0.25em rgba(0, 0, 0, 1);
  color: $white;
  font-size: 1.3em;
}

.pop-up__button {
  float: right;

  border: $input-border;
  border-radius: 3em;

  box-shadow: $input-box-shadow;

  //background-color: rgba(0, 0, 0, 0);
  background-color: $input-background;

  padding: $input-padding;

  text-align: center;
  text-shadow: 0 0 0.25em rgba(0, 0, 0, 1);
  color: $white;
  font-family: "Lato";
  font-size: $input-font-size;
  font-weight: 300;
}
