@import "../../variables";
@import "../../mixins";

@import "pop-up";

body {
  @include on-xs() {
    font-size: 0.6rem;
  };

  @include on-s() {
    font-size: 0.7em;
  };

  @include on-m() {
    font-size: 0.8em;
  };

  @include on-l() {
    font-size: 0.9rem;
  };

  @include on-xl() {
    font-size: 1rem;
  };
}

//needed to load picture before pop-up
.test {
  position: absolute;
  top: 0;
  left: 0;

  visibility: hidden;
  width: 0;
  height: 0;
}

.header {
  position: relative;
  float: left;

  width: 100%;

  @include on-xs() {
    height: 30em;
  };

  @include on-s() {

  };

  @include on-m() {

  };

  @include on-l() {

  };

  @include on-xl() {

  };
}

.header__image {
  @include on-xs() {
    height: 100%;
  };

  @include on-m() {
    width: 100%;
  };

  @include on-l() {
    height: auto;
  };
}

.article-container {
  position: relative;
  float: left;

  background-color: $white;

  width: 100%;
}

.article {
  float: left;

  @include on-xs() {
    margin-top: -28em;
  };

  @include on-s() {

  };

  @include on-m() {

  };

  @include on-l() {
    margin-top: -14em;
  };
}

.article__title {
  float: left;

  padding: 2rem;

  text-align: center;
  text-shadow: 0 0 0.25em rgba(0, 0, 0, 1);
  color: $white;
  font-family: "Lato";
  font-size: 4em;
  font-weight: 400;
}

.article__text {
  float: left;

  margin-top: 2em;

  text-align: left;
  color: $grey-900;
  font-family: "Lato";
  font-size: 1.2em;
  font-weight: 300;

  &--first {
    @extend .article__text;

    &::first-letter {
      font-family: "Lato";
      font-size: 3em;
      font-weight: 400;
    }
  }
}

.article__header {
  float: left;

  margin-top: 1em;

  text-align: left;
  color: $grey-900;
  font-family: "Lato";
  font-size: 2em;
  font-weight: 400;
}
