@import "../../variables";

@keyframes waves {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(1 / 6 * 100 + %);
  }
}

@keyframes bottle {
  0% {
    transform: translateY(-5%) rotate(0deg);
  }

  25% {
    transform: translateY(-2.5%) rotate(-10deg);
  }

  50% {
    transform: translateY(0%) rotate(0deg);
  }

  75% {
    transform: translateY(-2.5%) rotate(10deg);
  }

  100% {
    transform: translateY(-5%) rotate(0deg);
  }
}

body {
  background-color: $blue-400;
}

$animation-time: 1.5s;

.container {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  border-radius: 10%;

  box-shadow: inset 0 0 3em 0.25em rgba(0, 0, 0, 0.25);

  background-color: $white;

  width: 80vmin;
  height: 80vmin;

  overflow: hidden;

  font-size: 1vmin;
}

.bottle {
  position: absolute;
  top: 0;
  left: 1%;

  animation-name: bottle;
  animation-duration: $animation-time;
  animation-timing-function: linear;
  animation-delay: 75ms;
  animation-iteration-count: infinite;
  animation-play-state: running;

  z-index: 2;

  height: 100%;
}

.waves {
  position: absolute;
  top: 0;
  left: -25%;

  animation-name: waves;
  animation-duration: $animation-time;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;

  z-index: 1;

  height: 100%;
}
