@import "../../variables";
@import "../../mixins";

$aspect-ratio: 16 / 8;

$width-1: 80vw;
$height-2: 80vh;

body {
  background: linear-gradient(to right, $red-400, $red-600);

  width: 100vw;
  height: 100vh;
}

.phone {
  border: 0.5em solid $black;
  border-radius: 3em;

  box-shadow: 1rem 1rem 5rem 1rem rgba(0, 0, 0, 0.5);

  background-color: $black;

  width: $width-1;
  height: $width-1 * $aspect-ratio;

  overflow: hidden;

  font-size: $width-1 / 20;

  @include on-aspect-ratio("1 / 2") {
    width: $height-2 / $aspect-ratio;
    height: $height-2;

    font-size: $height-2 / $aspect-ratio / 20;
  };
}

.background {
  width: 100%;
  height: 100%;

  filter: blur(1px);
}

.background__image {
  z-index: 1;

  width: 200%;
}

.background__filter {
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.5);

  width: 100%;
  height: 100%;
}

.profile {
  position: relative;
  float: left;

  padding-top: 8em;
  padding-bottom: 2em;

  width: 100%;
}

.profile__pic-section {
  position: relative;
  float: left;

  margin-top: 2em;

  width: 100%;
  height: 10em;
}

.profile__pic-container {
  border-radius: 50%;

  width: 30%;

  &::before {
    float: left;

    margin-top: 100%;

    width: 100%;

    content: "";
  }

  &::after {
    clear: both;

    width: 100%;

    content: "";
  }
}

.profile__pic {
  border: 0.2rem solid $white;
  border-radius: 50%;

  height: 100%;
}

.profile__username {
  position: relative;
  float: left;

  padding-bottom: 1em;

  width: 100%;

  text-align: center;
  color: $white;
  font-family: "Lato";
  font-size: 2em;
  font-weight: bold;
}

.profile__info {
  position: relative;
  float: left;

  padding: 0.25em;

  width: 100%;

  font-family: "Lato";
}

.profile__audience {
  float: left;

  width: 50%;
}

.profile__claps {
  float: left;

  width: 50%;
}

.profile__number {
  width: 100%;

  text-align: center;
  color: $white;
  font-size: 1.2em;
}

.profile__label {
  padding: 0.1em;

  width: 100%;

  text-align: center;
  color: $white;
  font-size: 1em;
}

.profile__work-list {
  position: relative;
  float: left;

  padding-top: 2%;

  width: 100%;
  text-align: center;
}

.work {
  display: inline-block;
  position: relative;

  margin: 0.5%;

  border-radius: 0.2em;

  width: 30%;

  &::before {
    float: left;

    margin-top: 100%;

    width: 100%;

    content: "";
  }

  &::after {
    clear: both;

    width: 100%;

    content: "";
  }

  &--red {
    @extend .work;

    background-color: $red-500;
  }

  &--yellow {
    @extend .work;

    background-color: $amber-500;
  }

  &--black {
    @extend .work;

    background-color: $grey-700;
  }

  &--blue {
    @extend .work;

    background-color: $blue-700;
  }
}

.work__title {
  padding: 0.2em;

  width: 100%;

  text-align: center;
  text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.8);
  color: $white;
  font-family: "Lato";
  font-size: 0.75em;
}

.work__icon {
  text-align: center;
  text-shadow: 0 0 1.5em rgba(0, 0, 0, 0.25);
  color: $white;
  font-size: 1.5em;
}
