@import "../../variables";
@import "../../mixins";

$animation-time: 3s;

@keyframes slide {
  0% {
    transform: translateX(-100%);

    opacity: 0;
  }

  10% {
    transform: translateX(0);

    opacity: 1;
  }

  90% {
    transform: translateX(0);

    opacity: 1;
  }

  100% {
    transform: translateX(100%);

    opacity: 0;
  }
}

.buttons {
  margin-top: 40%;

  width: 100%;

  text-align: center;
}

.button {
  display: inline-block;

  margin: 2rem;

  outline: none;
  border: 0;
  border-radius: 2em;

  padding: 1em;

  width: 10rem;

  color: $white;
  font-family: "Lato";
  font-size: 1.5em;
  font-weight: 300;

  &--success {
    @extend .button;

    background-color: $green-500;
  }

  &--failed {
    @extend .button;

    background-color: $red-500;
  }
}

.flash {
  position: absolute;
  top: 0;
  left: 0;

  animation-name: slide;
  animation-duration: $animation-time;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;

  width: 100%;
  height: 4em;

  &--red {
    @extend .flash;

    background-color: $red-500;
  }

  &--green {
    @extend .flash;

    background-color: $green-500;
  }
}

.flash__words {
  width: 80%;

  text-align: center;
  color: $white;
  font-family: "Lato";
  font-size: 1.5em;
}
