@import "../../variables";
@import "../../mixins";

@keyframes flip {
  0% {
    transform: rotateY(0);
  }

  20% {
    transform: rotateY(0);
  }

  30% {
    transform: rotateY(180deg);
  }

  80% {
    transform: rotateY(180deg);
  }

  90% {
    transform: rotateY(0);
  }
}

@keyframes card-change {
  0% {
    transform: translateX(0);
  }

  #{1 / 3 * 100 + %} {
    transform: translateX(0);
  }

  #{1 / 3 * 100 + 0.01%} {
    transform: translateX(- 1 / 3 * 100 + %);
  }

  #{2 / 3 * 100 + %} {
    transform: translateX(-1 / 3 * 100 + %);
  }

  #{2 / 3 * 100 + 0.01%} {
    transform: translateX(-2 / 3 * 100 + %);
  }

  #{3 / 3 * 100 - 0.01%} {
    transform: translateX(-2 / 3 * 100 + %);
  }

  100% {
    transform: translateX(0);
  }
}

body {
  background: linear-gradient(to right, $blue-200, $blue-400);
}

.intro {
  position: relative;
  float: left;

  @include on-xs() {
    width: 100%;

    font-size: 0.5rem;
  };

  @include on-s() {
    width: 100%;

    font-size: 0.5rem;
  };

  @include on-m() {
    font-size: 0.75rem;
  };

  @include on-l() {
    width: 65%;
    height: 100vh;

    font-size: 0.75rem;
  };

  @include on-xl() {
    font-size: 1rem;
  };
}

.intro__title {
  float: left;
  margin-left: 5%;

  width: 90%;

  @include on-xs() {
    margin-top: 10em;
  };

  @include on-m() {
    margin-top: 0;
  };

  @include on-l() {
    margin-top: 6em;
  };

  @include on-xl() {
    margin-top: 0;
  };
}

.intro__header {
  padding-right: 2em;
  padding-left: 2em;

  width: 100%;

  text-align: center;
  color: $grey-900;
  font-family: "Lato";
  font-size: 3em;
  font-weight: 300;
}

.intro__button-row {
  position: relative;
  float: left;

  padding: 1em;

  width: 100%;

  text-align: center;
}

.intro__button {
  margin-top: 1em;

  border: 0.05em solid $grey-900;

  border-radius: 3em;

  background: none;

  padding: 0.5em;

  width: 15em;

  text-align: center;
  color: $grey-900;
  font-family: "Lato";
  font-size: 2em;
  font-weight: 300;
}

.card-section {
  position: relative;
  float: left;

  @include on-xs() {
    width: 100%;
    height: 15em;
  };

  @include on-l() {
    width: 35%;
    height: 100vh;
  };
}

.card-section__cards {
  width: 100%;

  text-align: center;
  font-size: 3em;
}


$aspect-ratio: 1 / 1.42;

.card {
  display: inline-block;
  position: relative;

  animation-name: flip;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;

  border-radius: 4%;
  box-shadow: 0 0 0.5em 0.2em rgba(0, 0, 0, 0.2);

  transform-style: preserve-3d;

  &::before {
    float: left;
    margin-top: 100% / $aspect-ratio;
    width: 100%;
    content: "";
  }

  &::after {
    float: left;

    width: 100%;

    content: "";
  }

  $delay: 250ms;
  $num-cards: 3;
  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      animation-delay: $i * $delay;


      .card-front__container {
        animation-delay: $i * $delay;
      }
    }
  }

  @include on-xs() {
    width: 20vw;

    font-size: 3vw;

    &:nth-of-type(2) {
      margin-right: 10%;
      margin-left: 10%;
    }
  };

  @include on-l() {
    margin-right: calc((100% - 10rem) / 2);
    margin-left: calc((100% - 10rem) / 2);

    width: 8rem;

    font-size: 1.25rem;

    &:nth-of-type(2) {
      margin-top: 10%;
      margin-bottom: 10%;
    }
  };
}

.card-back {
  position: absolute;
  top: 0;
  left: 0;

  border-radius: 4%;

  background: linear-gradient(to bottom right, $red-400 0%, $red-400 49%, $red-600 51%, $red-600 100%);

  width: 100%;
  height: 100%;

  overflow: hidden;
  backface-visibility: hidden;
}

.card-front {
  position: absolute;
  top: 0;
  left: 0;

  transform: rotateY(180deg);

  border-radius: 4%;

  background-color: $white;

  width: 100%;
  height: 100%;

  overflow: hidden;
  backface-visibility: hidden;
}

.card-front__container {
  animation-name: card-change;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
  width: 300%;
  height: 100%;
}

.card-front__inner {
  position: relative;

  float: left;

  padding-top: 0.5em;

  width: 100 / 3 + %;
  height: 100%;
}

.card-front__text {
  width: 100%;

  text-align: center;
  color: $grey-900;
  font-family: "Lato";
  font-size: 1em;
  font-weight: 300;
}

.card-front__icon {
  position: absolute;
  top: 1.75em;
  left: 50%;

  transform: translate(-50%, -50%);

  color: $grey-900;
  font-size: 3em;
}
