@import "../../variables";

$main-body: $grey-200;
$dark-plate: $grey-700;
$light-plate: $grey-400;
$arrows: $grey-300;

.arrow-keys {
  position: absolute;
  top: 0%;
  left: 61%;

  z-index: 5;

  width: 30%;
  height: 18.5%;
}

.arrow-keys__base {
  z-index: 1;

  border-radius: 50%;
  background-color: $arrows;

  width: 75%;
  height: 75%;

  overflow: hidden;
}

.arrow-keys__base-thing {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);

  border-radius: 50%;
  background-color: $main-body;

  width: 100%;
  height: 100%;

  &--right {
    @extend .arrow-keys__base-thing;
    right: -62%;
  }

  &--left {
    @extend .arrow-keys__base-thing;
    left: -62%;
  }
}

.arrow-keys__button {
  position: absolute;

  z-index: 2;

  border-radius: 50% 25% 25% 50%;
  background-color: $arrows;

  width: 35%;
  height: 35%;

  &--left {
    @extend .arrow-keys__button;
    top: (65 / 2) + %;
    left: 0;
  }

  &--up {
    @extend .arrow-keys__button;
    top: 0;
    left: (65 / 2) + %;

    transform: rotate(90deg);
  }

  &--right {
    @extend .arrow-keys__button;
    top: (65 / 2) + %;
    right: 0;

    transform: rotate(180deg);
  }

  &--down {
    @extend .arrow-keys__button;
    bottom: 0;
    left: (65 / 2) + %;

    transform: rotate(-90deg);
  }
}

.first-buttons-bar {
  position: absolute;
  top: 4%;
  left: 4%;

  width: 55%;
  height: 16%;

  text-align: center;
}

.first-button-container {
  display: inline-block;

  margin: 1%;

  width: 29%;
  height: 40%;
}

.first-button {
  position: absolute;
  bottom: 20%;

  border-radius: 50% 50% 100% 100%;
  box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.1);

  background-color: $grey-300;

  width: 100%;
  height: 65%;

  text-align: center;
  color: $white;
}

.first-button-extras {
  position: absolute;
  top: -52%;
  left: 50%;

  transform: translateX(-50%);

  width: 110%;

  text-align: center;
}

.rest-buttons-bar {
  position: absolute;
  top: 20%;

  width: 100%;
  height: 46%;

  text-align: center;
}

.rest-button-container {
  display: inline-block;

  margin: 1%;

  width: 15%;
  height: 16%;
}

.rest-button {
  position: absolute;
  bottom: 20%;

  border-radius: 50% 50% 100% 100%;
  box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.1);
  background-color: $grey-300;

  width: 100%;
  height: 60%;

  text-align: center;
  color: $white;
}

.number-buttons-bar {
  position: absolute;
  top: 46%;
  left: 22.5%;

  z-index: 7;

  background-color: $light-plate;

  width: 55%;
  height: 50%;
}

.number-button-container {
  display: inline-block;

  margin: 1%;

  width: 29%;
  height: 20%;
}

.number-button {
  position: absolute;
  bottom: 6%;

  border-radius: 50% 50% 100% 100%;
  box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.1);
  background-color: $white;

  width: 100%;
  height: 60%;

  text-align: center;
  color: $grey-900;
}

.number-button-extras {
  position: absolute;
  top: -15%;
  left: 50%;

  transform: translateX(-50%);

  width: 110%;

  text-align: center;
}

.on-button-container {
  position: absolute;
  top: 74%;
  left: 6%;

  width: 15%;
  height: 11%;
}

.on-button {
  position: absolute;
  bottom: 6%;

  border-radius: 50% 50% 100% 100%;
  box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.1);
  background-color: $dark-plate;

  width: 100%;
  height: 60%;

  text-align: center;
  color: $white;
}

.on-button-extras {
  position: absolute;
  top: -7%;
  left: 50%;

  transform: translateX(-50%);

  width: 110%;

  text-align: center;
}

.enter-button-container {
  position: absolute;
  top: 71%;
  left: 78%;

  width: 16%;
  height: 16%;
}

.enter-button {
  position: absolute;
  bottom: 6%;

  border-radius: 50% 50% 200% 100%;
  box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.1);
  background-color: $main-body;

  width: 100%;
  height: 60%;

  text-align: center;
  color: $white;
}

.enter-button-extras {
  position: absolute;
  top: 5%;
  left: 50%;

  transform: translateX(-50%);

  width: 110%;

  text-align: center;
}
