@import "../../variables";
@import "../../mixins";

@import "./calc-buttons";

$main-body: $grey-200;
$dark-plate: $grey-700;
$light-plate: $grey-400;
$screen: $grey-300;
$arrows: $grey-300;

.background {
  position: relative;
  top: 0;
  left: 0;

  background: radial-gradient($blue-400, $blue-600);

  width: 100vw;
  height: 100vh;
}

.square {
  @include on-portrait() {
    width: 100vw;
    height: 100vw;
  };

  @include on-landscape() {
    width: 100vh;
    height: 100vh;
  }
}

.main-body {
  z-index: 1;

  border-radius: 2.5% 2.5% 20% 20%;

  background-color: $main-body;

  width: 80 * 3.3 / 7.5 + %;
  height: 80%;

  font-size: 2vmin;
}

.main-body__top-curve {
  position: absolute;
  top: -5%;
  left: 0;

  z-index: 1;

  border-radius: 25%;

  background-color: $main-body;

  width: 100%;
  height: 10%;
}

.main-body__left-curve {
  position: absolute;
  top: -2.55%;
  left: -3%;

  z-index: 1;

  border-radius: 33%;

  background-color: $main-body;

  width: 15%;
  height: 90%;
}

.main-body__right-curve {
  position: absolute;
  top: -2.55%;
  right: -3%;

  z-index: 1;

  border-radius: 33%;

  background-color: $main-body;

  width: 15%;
  height: 90%;
}

.dark-plate {
  position: absolute;
  top: -4%;
  left: 5%;

  z-index: 2;

  border-radius: 10% 10% 2.5% 2.5%;

  background-color: $dark-plate;

  width: 90%;
  height: 34.5%;
}

.dark-plate__top-curve {
  position: absolute;
  top: -5%;
  left: 0;

  z-index: 2;

  border-radius: 25%;

  background-color: $dark-plate;

  width: 100%;
  height: 20%;
}

.dark-plate__left-curve {
  position: absolute;
  bottom: 0;
  left: -2%;

  z-index: 2;

  border-radius: 10%;

  background-color: $dark-plate;

  width: 20%;
  height: 100%;
}

.dark-plate__right-curve {
  position: absolute;
  right: -2%;
  bottom: 0;

  z-index: 2;

  border-radius: 10%;

  background-color: $dark-plate;

  width: 20%;
  height: 100%;
}

.dark-plate__bottom-curve {
  position: absolute;
  bottom: -5%;
  left: 0;

  z-index: 2;

  border-radius: 25%;

  background-color: $dark-plate;

  width: 100%;
  height: 20%;
}

.dark-plate__arrow {
  position: absolute;
  bottom: -20%;
  left: 65%;

  z-index: 2;

  border-radius: 50%;

  background-color: $main-body;

  width: 25%;
  height: 20%;
}

.screen {
  position: absolute;
  top: 20%;
  left: 7.5%;

  z-index: 3;

  box-shadow: inset 0 0 0.5em 0.1em rgba(0, 0, 0, 0.5);

  background-color: $screen;

  width: 85%;
  height: 60%;
}

.top-button-bar {
  position: absolute;
  bottom: 0%;
  left: 2.5%;

  z-index: 4;

  width: 95%;
  height: 18%;

  text-align: center;
}

.top-button-container {
  float: left;

  margin-right: 2%;
  margin-left: 2%;

  width: 16%;
  height: 100%;
}

.top-button {
  position: absolute;
  bottom: 20%;

  border-radius: 50% 50% 100% 100%;

  box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.1);

  background-color: $grey-300;

  width: 100%;
  height: 40%;

  text-align: center;
  color: $white;
}

.button-label {
  font-family: "Lato";
  font-size: 0.4em;
  font-weight: 900;

  &--big {
    @extend .button-label;

    font-size: 0.75em;
  }
}

.button-extras {
  position: absolute;
  top: -6%;
  left: 50%;

  transform: translateX(-50%);

  width: 110%;

  text-align: center;
}

.button-second {
  color: $blue-300;
}

.button-alpha {
  color: $green-300;
}

.light-plate {
  position: absolute;
  bottom: 0;
  left: 2.5%;

  z-index: 2;

  border-radius: 2.5% 2.5% 35% 35%;

  background-color: $light-plate;

  width: 95%;
  height: 67.5%;
}

.light-plate__arrow {
  position: absolute;
  top: -2.5%;
  left: 61%;

  z-index: 2;

  border-radius: 50%;

  background-color: $light-plate;

  width: 30%;
  height: 20%;
}
