@import "../../variables";
@import "../../mixins";

body {
  background-color: $teal-300;

  width: 100vw;
  height: 100vh;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 80vw;
  font-size: 5vw;

  @include on-aspect-ratio("1 / 1") {
    width: 50vh;
    font-size: 5vh;
  };
}

.title {
  float: left;

  width: 100%;

  text-align: center;
  color: $white;
  font-family: "Lato";
  font-weight: 300;
}

.lamp-container {
  position: relative;
  float: left;

  width: 100%;

  &::before {
    float: left;
    margin-top: 100%;
    content: "";
  }
}

$switch: linear-gradient(to right, $grey-700, $grey-800);
$switch--dark: linear-gradient(to right, $grey-800, $grey-900);

$lamp-light: rgba(255, 255, 255, 0.5);
$lamp-light-shadow: 0 0 10rem 5rem rgba(255, 255, 255, 0.5);

$lamp-shade-top: $grey-100;
$lamp-shade-top--dark: $grey-300;

$lamp-shade: $grey-300;
$lamp-shade--dark: $grey-400;

$lamp-top: $teal-300;
$lamp-top--dark: $teal-500;

$lamp-middle: linear-gradient($teal-300, $teal-500, $teal-700);
$lamp-middle--dark: linear-gradient($teal-500, $teal-700, $teal-900);

$lamp-bottom: $teal-700;
$lamp-bottom--dark: $teal-900;

.lamp {
  width: 75%;
  height: 75%;
}

.lamp__switch-input {
  display: none;

  &:checked ~ .lamp__switch {
    background: $switch--dark;
  }

  &:checked ~ .lamp__light {
    opacity: 0;
  }

  &:checked ~ .lamp__shade {
    .lamp__shade-top {
      background-color: $lamp-shade-top--dark;
    }

    .lamp__shade-inner {
      background: $lamp-shade--dark;
    }

    .lamp__shade-bottom {
      background-color: $lamp-shade--dark;
    }
  }

  &:checked ~ .lamp__body {
    .lamp__body-top {
      background: $lamp-top--dark;
    }

    .lamp__body-middle {
      .lamp__body-middle-inner {
        background: $lamp-middle--dark;
      }
    }

    .lamp__body-bottom {
      background: $lamp-bottom--dark;
    }
  }

  &:checked ~ .lamp__shadow {
    opacity: 0.1;
  }
}

.lamp__switch {
  position: absolute;
  top: 50%;
  left: 70%;

  z-index: 4;

  background: $switch;

  width: 4%;
  height: 20%;
}

.lamp__light {
  position: absolute;
  top: 32%;
  left: 50%;

  transform: translate(-50%, -50%);
  opacity: 0.5;
  z-index: 15;

  border-radius: 50%;
  box-shadow: $lamp-light-shadow;
  background: $lamp-light;

  width: 20%;
  height: 20%;
}

.lamp__shade {
  top: -2%;

  z-index: 5;

  width: 55%;
  height: 55%;
}

.lamp__shade-top {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 3;

  border-radius: 50%;
  background: $lamp-shade-top;

  width: 67%;
  height: 5%;

  overflow: hidden;
}

.lamp__shade-main {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.lamp__shade-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translate(-50%, 50%);
  z-index: 2;

  border-radius: 50%;
  background: $lamp-shade;

  width: 100%;
  height: 8%;

  overflow: hidden;
}

$sqr-root-2: 1.4142;

.lamp__shade-inner {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, 20%) scaleY(6) rotate(45deg);

  background: $lamp-shade;

  width: 100% / $sqr-root-2;
  height: 100% / $sqr-root-2;
}

.lamp__body {
  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translateX(-50%);
  z-index: 2;

  width: 60%;
  height: 50%;
}

.lamp__body-top {
  z-index: 1;

  border-radius: 10%;
  background: $lamp-top;

  width: 30%;
  height: 30%;
}

.lamp__body-middle {
  z-index: 2;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.lamp__body-middle-inner {
  position: absolute;
  bottom: -10%;
  left: 0;

  border-radius: 50%;
  background: $lamp-middle;

  width: 100%;
  height: 100%;
}

.lamp__body-bottom {
  position: absolute;
  bottom: -5%;
  left: 50%;

  transform: translateX(-50%);
  z-index: 1;

  border-radius: 50%;
  background: $lamp-bottom;

  width: 60%;
  height: 10%;
}

.lamp__shadow {
  position: absolute;
  top: 90%;
  left: 50%;

  transform: translateX(-50%);
  opacity: 0.25;
  z-index: 1;

  border-radius: 50%;
  background: radial-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));

  width: 70%;
  height: 25%;
}
