<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DailyUI-11</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bundle.css"/>
    <link rel="stylesheet" href="/css/10/11/dailyui11.css"/>

    <script src="/js/bundle.js" async></script>
  </head>

  <body>
    <div class="buttons">
      <button class="button--success" onclick="Eightleg.DailyUI11.flash('green', 'Your action was successful!')">
        Success
      </button>
      <button class="button--failed" onclick="Eightleg.DailyUI11.flash('red', 'Somethings not quite right...')">
        Failed
      </button>
    </div>

    <script id="flash-template" type="text/html">
      <div class="flash--{{color}}">
        <div class="u-base">
          <div class="flash__words u-center">
          {{text}}
          </div>
        </div>
      </div>
    </script>
  </body>
</html>