<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DailyUI-12</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bundle.css"/>
    <link rel="stylesheet" href="/css/10/12/dailyui12.css"/>

    <script src="/js/bundle.js" async></script>
  </head>

  <body>
    <div class="container">
      <div class="phone js-phone-1">
        <div class="u-base">
          <div class="header--1">
            <div class="header__img-container">
              <img class="header-img" src="/img/cats.jpg"/>
            </div>
            <div class="person">
              Cat
            </div>
          </div>
          <div class="messages js-message-container">
          </div>
          <div class="text-area">
            <input class="text-input js-text" type="text"/>
            <button class="send">
              <i class="fas fa-arrow-right send__icon"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="phone js-phone-2">
        <div class="u-base">
          <div class="header--2">
            <div class="header__img-container">
              <img class="header-img" src="/img/scuba.jpg"/>
            </div>
            <div class="person">
              Scuba
            </div>
          </div>
          <div class="messages js-message-container">
          </div>
          <div class="text-area">
            <input class="text-input js-text" type="text"/>
            <button class="send">
              <i class="fas fa-arrow-right send__icon"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script id="message" type="text/html">
      <div class="message-container">
        <div class="message--{{sideText}} js-bubble">
          <div class="pulse">
          </div>
          <div class="time">
            {{time}}
          </div>
          {{content}}
        </div>
      </div>
    </script>
    <script>
      window.onload = function() {
        setTimeout(function() {
          Eightleg.TextBubble('.js-phone-1', '.js-phone-2', 'Meow', '9:04 PM', function() {
            setTimeout(function() {
              Eightleg.TextBubble('.js-phone-2', '.js-phone-1', 'Blub', '9:04 PM',  function() {
                setTimeout(function() {
                  Eightleg.TextBubble('.js-phone-1', '.js-phone-2', 'Whats up', '9:05 PM',  function() {
                    setTimeout(function() {
                      Eightleg.TextBubble('.js-phone-2', '.js-phone-1', 'Nothing you?', '9:05 PM', function() {

                      });
                    }, 1000);
                  });
                }, 1000);
              });
            }, 1000);
          });
        }, 1000);
      };
    </script>
  </body>
</html>