@import "../../variables";
@import "../../mixins";

$x-displacement: 400%;
$y-displacement: -200%;
$animation-time: 1.5s;

@keyframes send {
  0% {
    transform: translateX(0);
  }

  45% {
    transform: translateX($x-displacement);
  }

  50% {
    transform: translate($x-displacement, $y-displacement);
  }

  51% {
    transform: translate(-1 * $x-displacement, $y-displacement);
  }

  55% {
    transform: translateX(-1 * $x-displacement);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes top {
  0% {
    width: 0;
  }

  30% {
    width: 30%;
  }

  70% {
    width: 30%;
  }

  100% {
    width: 0;
  }
}

@keyframes middle {
  0% {
    width: 0;
  }

  30% {
    width: 80%;
  }

  70% {
    width: 80%;
  }

  100% {
    width: 0;
  }
}

@keyframes bottom {
  0% {
    width: 0;
  }

  30% {
    width: 50%;
  }

  70% {
    width: 50%;
  }

  100% {
    width: 0;
  }
}

.background {
  position: relative;

  background: radial-gradient($blue-600, $blue-800);

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

.modal {
  border-radius: 0.5em;
  box-shadow: 0 0 0.3em 0.3em rgba(0, 0, 0, 0.3);

  background-color: $white;

  padding: 3em;

  width: 30em;
  height: 30em;

  color: $grey-900;
  font-family: "Lato";

  @include on-xs() {
    font-size: 0.5rem;
  }

  @include on-s() {
    font-size: 0.6rem;
  }

  @include on-m() {
    font-size: 0.75rem;
  }

  @include on-l() {
    font-size: 1rem;
  }
}

.modal__image {
  position: absolute;
  bottom: -3em;
  left: 20%;

  z-index: 1;

  width: 60%;
}

.modal__headline {
  float: left;

  margin-top: 1em;

  text-align: center;
  font-size: 2.5em;
  font-weight: 300;
}

.modal__subheadline {
  float: left;

  margin-top: 0.6em;

  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
}

.modal__form {
  position: relative;
  float: left;

  z-index: 2;

  margin-top: 2em;
}

.modal__email {
  float: left;

  outline: none;
  border: 0.2em solid $blue-800;
  border-radius: 0.5em;

  background-color: $white;

  padding: 0.25em;

  width: 60%;

  text-align: center;
  font-weight: 300;

  &::placeholder {
    color: $grey-400;
    font-family: "Lato";
  }
}

.modal__submit {
  position: relative;
  float: right;

  outline: none;
  border: 0.2em solid $blue-800;
  border-radius: 0.5em;

  background-color: $blue-800;

  cursor: pointer;

  padding: 0.25em;

  width: 30%;

  overflow: hidden;

  color: $white;
  font-size: 1em;
}

.envelope {
  animation-name: send;
  animation-duration: $animation-time;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-play-state: paused;

  margin: auto;
  border: 0.1em solid $white;

  //from real evelope dimensions
  width: 1em / ((3 + 5 / 8) / (5 + 1 / 8));
  height: 1em;
}

.envelope__front {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.envelope__seal {
  position: absolute;
  top: -35%;
  left: 50%;

  transform: translate(-50%, -50%) rotateZ(45deg);

  border: 0.1em solid $white;

  //diagonal length same as width
  $square-root-2: 1.41421;
  width: 1em * $square-root-2;
  height: 1em * $square-root-2;
}

.h-inherit-animation-state {
  animation-play-state: inherit;
}

.envelope__line {
  position: absolute;
  right: 120%;

  animation-duration: $animation-time;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: inherit;

  background-color: $white;
  height: 0.1em;

  &--top {
    @extend .envelope__line;

    top: 0;

    animation-name: top;

    width: 40%;
  }

  &--middle {
    @extend .envelope__line;

    top: 50%;

    animation-name: middle;

    width: 80%;
  }

  &--bottom {
    @extend .envelope__line;

    bottom: 0;

    animation-name: bottom;

    width: 50%;
  }
}
