@import "../../variables";
@import "../../mixins";

@import "grave";
@import "eyes";
@import "tree";
@import "pumpkin";

$animation-time: 8s;

$light-divisor: 2;
$aspect-ratio: 2 / 1;

$light-width: 100 / $light-divisor / $aspect-ratio;
$light-height: 100 / $light-divisor;

$light-top: 50 - $light-height / 2;
$light-left: 50 - $light-width / 2;

$light-x1: 30 * $light-divisor;
$light-y1: 30 * $light-divisor;

$light-x2: -10 * $light-divisor;
$light-y2: -30 * $light-divisor;

$light-x3: -40 * $light-divisor;
$light-y3: 40 * $light-divisor;

@keyframes light {
  0% {
    transform: translate($light-x1 + %, $light-y1 + %);
  }

  33% {
    transform: translate($light-x2 + %, $light-y2 + %);
  }

  66% {
    transform: translate($light-x3 + %, $light-y3 + %);
  }

  100% {
    transform: translate($light-x1 + %, $light-y1 + %);
  }
}

.scene-container {
  position: relative;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

.scene {
  position: absolute;
  top: 0;
  left: 0;

  background-color: $grey-900;

  width: 100%;
  height: 100%;
}

.scene__darkness {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 10;

  background-color: rgba(0, 0, 0, 0.85);

  width: 100%;
  height: 100%;
}

.scene__light {
  position: absolute;
  top: $light-top + %;
  left: $light-left + %;

  animation-name: light;
  animation-duration: $animation-time;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;

  opacity: 0.8;

  z-index: 15;

  border-radius: 50%;

  $inner-color: "rgba(255, 249, 196, 0.8) 0%";
  $mid-color: "rgba(255, 249, 196, 0.4) 10%";
  $outer-color: "rgba(0, 0, 0, 0.4) 100%";

  background: radial-gradient(#{$inner-color}, #{$mid-color}, #{$outer-color});

  width: $light-width + %;
  height: $light-height + %;

  overflow: hidden;
}


$ground-color: $green-200;

.scene__ground {
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: $ground-color;

  width: 100%;
  height: 40%;
}

.scene__hill {
  position: absolute;
  bottom: -75%;
  left: 20%;

  border-radius: 50%;

  background-color: $ground-color;

  width: 60%;
  height: 120%;
}

.numbers {
  color: $grey-500;

  font-family: "Lato";
  font-size: 40rem;
}
