@import "../../variables";

@keyframes blink {
  0% {
    opacity: 0.8;
  }

  15% {
    opacity: 0.8;
  }

  33% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  85% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.8;
  }
}

.eyes {
  position: relative;

  width: 100%;
  height: 100%;
}

.eyes__eye {
  position: absolute;
  top: 20%;

  width: 30%;
  height: 60%;

  overflow: hidden;

  &--1 {
    @extend .eyes__eye;

    left: 5%;

    transform: rotate(200deg);
  }

  &--2 {
    @extend .eyes__eye;
    right: 5%;

    transform: rotate(160deg);
  }
}

.eyes__pupil {
  position: absolute;
  top: 70%;
  left: 0;

  transform: rotate(45deg);

  animation-name: blink;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;

  background-color: $red-800;

  width: 100%;
  height: 100%;
}
