@import "../../variables";

.grave {
  position: absolute;
  top: 40%;

  width: 10%;
  height: 30%;

  &:nth-of-type(1) {
    top: 45%;
    left: 33%;
  }

  &:nth-of-type(2) {
    top: 30%;
    left: 45%;
  }

  &:nth-of-type(3) {
    left: 57%;
  }
}

$stone-color: $grey-200;
$back-color: $blue-grey-600;

.grave__stone {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 2;

  width: 100%;
  height: 100%;

  &--back {
    @extend .grave__stone;
    top: -5%;
    left: -10%;

    z-index: 1;

    .grave__stone-top {
      background-color: $back-color;
    }

    .grave__stone-bottom {
      background-color: $back-color;
    }

    //for bottom left corner 3d effect
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;

      transform: rotate(45deg);
      background-color: $back-color;

      width: 12%;
      height: 5%;

      content: "";
      transform-origin: bottom left;
    }
  }
}

.grave__stone-top {
  position: absolute;
  top: 0;
  left: 0;

  border-radius: 50%;

  background-color: $stone-color;

  width: 100%;
  height: 100 / 3 * 2 + %;
}

.grave__stone-bottom {
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: $stone-color;

  width: 100%;
  height: 100 * 2 / 3 + %;
}

.grave__number {
  color: $grey-800;
  font-family: "Lato";
  font-size: 10rem;
}
