@import "../../variables";

.pumpkin {
  position: absolute;
  top: 50%;
  left: 75%;

  width: 20%;
  height: 20%;
}

.pumpkin__part {
  position: absolute;

  z-index: 2;

  border-radius: 50%;

  background-color: $orange-400;

  width: 30%;
  height: 80%;

  &--1 {
    @extend .pumpkin__part;

    bottom: 0;
    left: 35%;
  }

  &--2 {
    @extend .pumpkin__part;

    bottom: 2%;
    left: 25%;
  }

  &--3 {
    @extend .pumpkin__part;

    bottom: 2%;
    left: 45%;
  }

  &--4 {
    @extend .pumpkin__part;

    bottom: 4%;
    left: 15%;
  }

  &--5 {
    @extend .pumpkin__part;

    bottom: 4%;
    left: 55%;
  }

  &--6 {
    @extend .pumpkin__part;

    bottom: 6%;
    left: 25%;
  }

  &--7 {
    @extend .pumpkin__part;

    bottom: 6%;
    left: 45%;
  }

  &--8 {
    @extend .pumpkin__part;

    bottom: 8%;
    left: 35%;
  }
}

$tree-color: $brown-200;

.pumpkin__stem {
  position: absolute;
  top: 5%;
  left: 45%;

  z-index: 3;

  border-radius: 30% 30% 20% 20%;

  background-color: $green-300;

  width: 10%;
  height: 20%;
}

.pumpkin__stump {
  position: absolute;
  top: 75%;
  left: 0;

  z-index: 1;

  width: 100%;
  height: 100%;
}

.pumpkin__stump-top {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 3;

  border-radius: 50%;

  background-color: $brown-100;

  width: 100%;
  height: 30%;
}

.pumpkin__stump-middle {
  position: absolute;
  top: 15%;
  left: 0;
  z-index: 2;

  background-color: $brown-200;

  width: 100%;
  height: 70%;
}

.pumpkin__stump-bottom {
  position: absolute;
  bottom: 0;
  left: 0;

  z-index: 1;

  border-radius: 50%;

  background-color: $brown-200;

  width: 100%;
  height: 30%;
}

.pumpkin__face {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 20;

  width: 75%;
  height: 75%;
}

.pumpkin__eye {
  position: absolute;
  top: 15%;

  width: 15%;
  height: 30%;

  overflow: hidden;

  &--1 {
    @extend .pumpkin__eye;

    left: 22.5%;

    .pumpkin__pupil {
      border-left: 0.4rem solid $orange-600;
    }
  }

  &--2 {
    @extend .pumpkin__eye;
    right: 22.5%;

    .pumpkin__pupil {
      border-top: 0.4rem solid $orange-600;
    }
  }
}

.pumpkin__pupil {
  position: absolute;
  top: 70%;
  left: 0;

  transform: rotate(45deg);

  background-color: $yellow-300;

  width: 100%;
  height: 100%;
}

.pumpkin__mouth {
  position: absolute;
  top: 70%;
  left: 15%;

  width: 70%;
  height: 60%;

  overflow: hidden;
}

.pumpkin__mouth-inner {
  position: absolute;
  top: -40%;
  left: 10%;

  border-bottom: 0.4rem solid $orange-600;
  border-radius: 50%;

  background-color: $yellow-300;

  width: 80%;
  height: 80%;

  overflow: hidden;

}
