@import "../../variables";

$tree-color: $brown-200;

$animation-time: 5s;
$delay-time: $animation-time / 25;

$degree: 20deg;
@keyframes head {
  0% {
    transform: rotateY(0);
  }

  39% {
    transform: rotateY(0);
  }

  40% {
    transform: rotateY(-$degree);
  }

  44% {
    transform: rotateY($degree);
  }

  48% {
    transform: rotateY(-$degree);
  }

  52% {
    transform: rotateY($degree);
  }

  56% {
    transform: rotateY(-$degree);
  }

  60% {
    transform: rotateY($degree);
  }

  61% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(0);
  }
}

$displacement: 5%;
@keyframes wing {
  0% {
    transform: translateY(0);
  }

  39% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-$displacement);
  }

  44% {
    transform: translateY($displacement);
  }

  48% {
    transform: translateY(-$displacement);
  }

  52% {
    transform: translateY($displacement);
  }

  56% {
    transform: translateY(-$displacement);
  }

  60% {
    transform: translateY($displacement);
  }

  61% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

.tree {
  position: absolute;
  bottom: 0;
  left: -10%;

  width: 25%;
  height: 120%;
}

.tree__trunk {
  position: absolute;
  bottom: 0;
  left: 30%;

  background-color: $tree-color;

  width: 40%;
  height: 40%;
}

.tree__hole {
  position: absolute;
  top: 30%;
  left: 12.5%;

  border-right: 1rem solid $brown-500;
  border-radius: 50%;

  background-color: $grey-900;

  width: 75%;
  height: 50%;
}

.tree__branch {
  position: absolute;

  background-color: $tree-color;

  transform-origin: bottom center;

  &--1 {
    @extend .tree__branch;

    bottom: 90%;
    left: 10%;

    transform: rotate(-20deg);

    width: 60%;
    height: 80%;
  }

  &--2 {
    @extend .tree__branch;

    bottom: 90%;
    left: 50%;

    transform: rotate(30deg);

    width: 50%;
    height: 60%;
  }

  &--3 {
    @extend .tree__branch;

    bottom: 75%;
    left: 50%;

    transform: rotate(45deg);

    width: 50%;
    height: 60%;
  }

  &--4 {
    @extend .tree__branch;

    bottom: 90%;
    left: 10%;

    transform: rotate(-20deg);

    width: 60%;
    height: 80%;
  }

  &--5 {
    @extend .tree__branch;

    bottom: 90%;
    left: 50%;

    transform: rotate(45deg);

    width: 50%;
    height: 60%;
  }
}

.tree__cap {
  position: absolute;
  top: -10%;
  left: 0;

  border-radius: 50%;

  background-color: $tree-color;

  width: 100%;
  height: 20%;
}

.tree__eyes {
  position: absolute;
  top: 80%;
  left: 38%;

  z-index: 10;

  width: 30%;
  height: 7.5%;
}
