@import "../../variables";
@import "../../mixins";

.song {
  position: relative;
  float: left;

  z-index: 1;

  padding: 0.5em;

  width: 100%;
  height: 4em;

  &--selected {
    @extend .song;

    background-color: $grey-200;

    .song__title {
      color: $grey-900;
    }

    .song__artist {
      color: $grey-900;
    }
  }

}

.song__button {
  position: relative;
  float: left;

  border-radius: 50%;

  box-shadow: inset 0 0 0.75em 0.20em rgba(33, 33, 33, 0.5), inset 0 0 0.15em 0.15em rgba(33, 33, 33, 0.5);

  width: 3em;
  height: 3em;

  overflow: hidden;
}

.song__info {
  float: left;

  padding-left: 1em;

  width: calc(100% - 3em);
  height: 100%;
}

.song__title {
  float: left;

  width: 100%;

  color: $white;
  font-family: "Lato";
  font-weight: 400;
}

.song__artist {
  float: left;

  width: 100%;

  color: $white;
  font-family: "Lato";
  font-weight: 300;
}
