@import "../../variables";
@import "../../mixins";

@import "song";

$background: $grey-800;

@keyframes hologram {
  0% {
    transform: rotate3d(0.75, 0.5, 0.25, 0deg);
  }

  100% {
    transform: rotate3d(0.5, 0.55, 0.25, 360deg);
  }
}

@keyframes appear {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }

  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.6;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;

  background: radial-gradient($grey-800, $grey-900);

  width: 100vw;
  height: 100vh;

  @include on-xs() {
    font-size: 0.5rem;
  };

  @include on-s() {
    font-size: 0.7rem;
  };

  @include on-m() {
    font-size: 0.8rem;
  };

  @include on-l() {
    font-size: 1rem;
  };
}

.drawer {
  position: absolute;
  bottom: 5em;
  left: 0;

  z-index: 1;

  box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.2);

  background-color: $grey-900;

  max-height: 75%;

  overflow: hidden;

  @include on-xs() {
    width: 50%;
  };

  @include on-s() {
    width: 45%;
  };

  @include on-m() {
    width: 40%;
  };

  @include on-l() {
    width: 30%;
  };

  @include on-xl() {
    width: 20%;
  };
}

.drawer__title {
  float: left;
  padding: 0.125em;
  padding-left: 0.25em;

  width: 100%;
  height: 1.5em;

  text-align: left;
  color: $white;
  font-family: "Lato";
  font-size: 2em;
  font-weight: 300;
}

.drawer__songs {
  float: left;

  width: 100%;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.75em;
  }

  &::-webkit-scrollbar-track {
    background: $grey-900;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3em;

    $shadow-1: "inset 0 0 0.75em 0.20em rgba(33, 33, 33, 0.5)";
    $shadow-2: "inset 0 0 0.15em 0.15em rgba(33, 33, 33, 0.5)";

    box-shadow: #{$shadow-1}, #{$shadow-2};

    background: $blue-500;
  }
}

.bar {
  position: absolute;
  bottom: 0;
  left: 0;

  z-index: 2;

  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);

  background-color: $grey-900;

  width: 100%;
  height: 5em;
}

.bar__buttons {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.button {
  position: relative;
  float: left;

  border-radius: 50%;

  box-shadow: inset 0 0 0.75em 0.20em rgba(33, 33, 33, 0.5), inset 0 0 0.15em 0.15em rgba(33, 33, 33, 0.5);

  width: 3em;
  height: 3em;

  overflow: hidden;

  &--menu {
    @extend .button;

    margin-top: 1em;
    margin-left: 1em;

    border-radius: 0;
  }

  &--bar {
    @extend .button;

    font-size: 1.33em;

    &:nth-of-type(2) {
      @include on-xs() {
        margin-right: 0.75em;
        margin-left: 0.75em;
      };

      @include on-m() {
        margin-right: 1.2em;
        margin-left: 1.2em;
      };
    }
  }
}

.button__img {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: -2;

  width: 100%;
}

.button__tint {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  opacity: 0.25;

  z-index: -1;

  background-color: $blue-500;

  width: 100%;
  height: 100%;
}

.icon {
  z-index: 1;

  color: $white;
  font-size: 1em;

  &--menu {
    @extend .icon;
    font-size: 3em;
  }
}

.floating-container {
  position: absolute;
  top: 25%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 50vw;
  height: 50vw;

  @include on-aspect-ratio("1 / 2") {
    width: 25vw;
    height: 25vw;
  };

  @include on-aspect-ratio("1 / 1") {
    width: 15vw;
    height: 15vw;
  };
}

.current-info {
  float: left;

  margin-top: 4em;

  width: 100%;
}

.current-info__title {
  float: left;

  width: 100%;

  text-align: center;
  text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8);
  color: $white;
  font-family: "Lato";
  font-size: 2em;
  font-weight: 300;
}

.current-info__artist {
  float: left;

  width: 100%;

  text-align: center;
  text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8);
  color: $white;
  font-family: "Lato";
  font-size: 2em;
  font-weight: 100;

}

.hologram-container {
  position: relative;
  float: left;

  width: 100%;

  &::before {
    float: left;

    margin-top: 100%;

    width: 100%;

    content: "";
  }

  &::after {
    float: left;

    clear: both;

    width: 100%;

    content: "";
  }
}

.hologram {
  position: absolute;
  top: 0;
  left: 0;

  animation-name: hologram;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;

  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
}

.hologram__side {
  position: absolute;
  top: 0;
  left: 0;

  animation-name: opacity;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: running;

  opacity: 0.6;

  width: 100%;
  height: 100%;

  overflow: hidden;

  transform-style: preserve-3d;

  &--front {
    @extend .hologram__side;

    transform: rotateY(90deg) translateX(50%) rotateY(90deg);
  }

  &--back {
    @extend .hologram__side;

    transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);

  }

  &--left {
    @extend .hologram__side;

    transform: translateX(-50%) rotateY(-90deg);

  }

  &--right {
    @extend .hologram__side;

    transform: translateX(50%) rotateY(90deg);
  }

  &--top {
    @extend .hologram__side;

    transform: translateY(50%) rotateX(-90deg);
  }

  &--bottom {
    @extend .hologram__side;

    transform: translateY(-50%) rotateX(90deg);
  }
}

.hologram__img {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  animation-name: appear;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-play-state: running;

  z-index: 1;

  width: 100%;
  height: 100%;
}

.hologram__tint {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  animation-name: appear;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-play-state: running;

  opacity: 0.33;

  z-index: 2;

  background-color: $blue-500;

  width: 100%;
  height: 100%;
}
