@import "../../variables";

* {
  transform-style: preserve-3d;
}

$container-aspect-ratio: 7 / 1.3333;

.background {
  position: relative;
  float: left;

  background: radial-gradient($blue-700, $blue-900);

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  font-size: 1vw;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) rotateX(15deg);

  width: 80vw;
  height: 80vw / $container-aspect-ratio;

  perspective: 100vw;

  &::after {
    clear: both;
    width: 100%;
    content: "";
  }
}

$number-width: 100 / 7 + %;
$number-height: 100%;

.number {
  position: relative;
  float: left;

  transform: translateZ(10em);

  margin: 100 / 35 + %;

  width: $number-width;
  height: $number-height;
}

$num-rows: 8;
$num-columns: 6;

.square {
  position: absolute;
  top: 20%;
  left: 20%;

  transition: all 750ms linear;

  width: 100 / $num-columns + %;
  height: 100 / $num-rows + %;
}

.square__side {
  position: absolute;
  top: 0;
  left: 0;

  border: 0.1em solid $grey-900;

  background-color: $white;

  width: 100%;
  height: 100%;

  backface-visibility: hidden;

  &--front {
    @extend .square__side;

    transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
  }

  &--back {
    @extend .square__side;

    transform: rotateY(90deg) translateX(50%) rotateY(90deg);
  }

  &--left {
    @extend .square__side;

    transform: translateX(-50%) rotateY(-90deg);
  }

  &--right {
    @extend .square__side;

    transform: translateX(50%) rotateY(90deg);
  }

  &--top {
    @extend .square__side;

    transform: translateY(50%) rotateX(-90deg);
  }

  &--bottom {
    @extend .square__side;

    transform: translateY(-50%) rotateX(90deg);
  }
}

.square__shadow {
  position: absolute;
  top: 0;
  left: 0;

  transform: rotateY(90deg) translateX(500%) rotateY(-90deg);

  box-shadow: 0 0 3em 1em rgba(0, 0, 0, 0.3);

  background-color: rgba(0, 0, 0, 0.25);

  width: 100%;
  height: 100%;
}
