@import "../../variables";

$num-buttons: 6;

$base-degrees: 360 / $num-buttons;

.container {
  position: relative;

  background-color: $white;

  width: 100vw;
  height: 100vh;

  font-size: 4vmin;
}

.share {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 1;

  width: 5em;
  height: 5em;

  &:hover {
    .button-container {
      width: 10em;
      height: 10em;

      @for $i from 1 through $num-buttons {
        &:nth-child(#{$i}) {
          $degrees: ($i - 1) * $base-degrees;

          transform: translate(-50%, -50%) rotateZ($degrees + deg);

          .icon {
            transform:  translate(-50%, -50%) rotateZ(-1 * $degrees + deg);
          }
        }
      }
    }
  }
}

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: rotate(60deg);

  z-index: 1;

  width: 0;
  height: 0;

  @for $i from 1 through $num-buttons {
    &:nth-child(#{$i}) {
      $degrees: ($i - 1) * $base-degrees;

      transform: translate(-50%, -50%) rotateZ($degrees - 45 + deg);

      //transition: all 250ms ease-in;
      transition: all 250ms $i * 50 + ms ease-in;

      .icon {
        transform: translate(-50%, -50%) rotateZ(-1 * ($degrees - 45) + deg);

        //transition: all 250ms ease-in;
        transition: all 250ms $i * 50 + ms ease-in;
      }
    }
  }
}

.button {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 3;

  border-radius: 50%;

  cursor: pointer;

  width: 3em;
  height: 3em;

  &--facebook {
    @extend .button;
    background-color: #3B5998;
  }

  &--twitter {
    @extend .button;
    background-color: #1DA1F2;
  }

  &--pinterest {
    @extend .button;
    background-color: #BD081C;
  }

  &--instagram {
    @extend .button;
    background-color: #8A3AB9;
  }

  &--mix {
    @extend .button;
    background-color: #FD8235;
  }

  &--reddit {
    @extend .button;
    background-color: #FF4500;
  }
}

.icon {
  z-index: 1;

  text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.75);
  color: $white;
  font-size: 1.5em;

  &--main {
    @extend .icon;

    font-size: 3em;
  }
}

.share-button {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 10;

  border-radius: 50%;

  background-color: $green-800;

  cursor: pointer;

  width: 100%;
  height: 100%;
}

