@import "../../mixins";
@import "../../variables";

body {
  background: linear-gradient(to right, $blue-200, $blue-400);

  width: 100vw;
  height: 100vh;
}

$aspect-ratio: 9 / 16;

.phone {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  border-radius: 5%;

  box-shadow: 0 0 5em 1em rgba(0, 0, 0, 0.2);

  width: 80vw;
  height: 80vw / $aspect-ratio;

  overflow: hidden;

  font-size: 4vw;

  @include on-aspect-ratio("1 / 2") {
    width: 80vh * $aspect-ratio;
    height: 80vh;

    font-size: 4vh * $aspect-ratio;
  };
}

.display {
  float: left;

  width: 100%;
  height: 67.5%;

  overflow: hidden;
}

.display__img {
  position: absolute;
  top: -10%;
  left: 0;

  width: 100%;
}

.display__expand {
  position: absolute;
  right: 0.375em;
  bottom: 0.375em;

  text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.8);
  color: $white;
  font-size: 1.5em;
}

.display__back {
  position: absolute;
  top: 0.5em;
  left: 0.5em;

  text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8);
  color: $white;
  font-size: 1.5em;
}

.info {
  position: relative;
  float: left;

  background-color: $white;

  width: 100%;

  color: $grey-900;
  font-family: "Lato";
  font-weight: 300;
}

.info__top {
  float: left;

  background-color: $white;

  padding: 0.375em;
  padding-bottom: 0;

  width: 100%;

  font-size: 2em;
}

.info__title {
  float: left;

  text-align: center;
}

.info__price {
  float: right;

  text-align: center;
  color: $green-500;
}

.info__middle {
  float: left;

  background-color: $white;

  width: 100%;

  font-size: 2em;
}

.info__description {
  float: left;

  margin-top: 0.6em;

  width: 100%;

  text-align: center;
  font-size: 0.5em;
}

.info__stars {
  float: left;

  padding: 0.75em;

  width: 100%;

  text-align: center;
  color: $yellow-500;
  font-size: 0.5em;
}

.info__bottom {
  float: left;

  background-color: $white;

  width: 100%;
}

.button {
  float: left;

  outline: none;
  border: 0;

  padding: 0.43em;

  text-align: center;
  text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  color: $white;
  font-size: 1.5em;

  &--cart {
    @extend .button;

    background-color: $green-400;

    width: 60%;
  }

  &--heart {
    @extend .button;

    background-color: $red-400;

    width: 40%;
  }
}
